* {
    /*border: solid gray 1px;*/
    font-family: 'Ubuntu Mono';
    color: #2e2e2e;
}

body {
    box-sizing: border-box;
    min-width: 320px;
}

a {
    font-size: 10px;
    color: #636363;
}

img {
    width: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5vw;
    padding-right: 5vw;
}

header {
    margin-left: 1rem;
    margin-right: 1rem;
}
nav a {
    font-size: 10px;
}

.head_container {
    background-image: url("pink_background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    mask-image: linear-gradient(to bottom, white 70%, transparent 100%);

}

h1 {
    padding-top: 5%;
    margin-bottom: 0;
    font-size: 1.5rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

h3 {
    margin-top: 0;
    margin-bottom: 25%;
    font-size: 1rem;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
}

.nav_buttons a {
    color: #ffffff;
    font-size: 9px;
    background-color: rgba(66,4,32,50%);
    height: 4rem;
    width: 4rem;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.9rem;
}

.skills {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 95%;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.logos img {
    height: 2rem;
    width: 2rem;
}

.skill_labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

main section a {
    font-size: 1.1rem;
    background-image: url("pink_background.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
}