@font-face {
  font-family: 'OTBulbClassic-200';
  src: url('OTBulbClassic-200.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbClassic-500';
  src: url('OTBulbClassic-200.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbClassic-900';
  src: url('OTBulbClassic-900.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbMonoline-200';
  src: url('OTBulbMonoline-200.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbMonoline-500';
  src: url('OTBulbMonoline-500.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbMonoline-900';
  src: url('OTBulbMonoline-900.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbReverse-200';
  src: url('OTBulbReverse-200.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbReverse-500';
  src: url('OTBulbReverse-500.otf') format('opentype');
}

@font-face {
  font-family: 'OTBulbReverse-900';
  src: url('OTBulbReverse-900.otf') format('opentype');
}

body {
  font-family: OTBulbClassic-500, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 320px;
}

.head_container {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.804);
  height: 100vh;
  background-image: url("pink_background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
    

}

.head_container div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8) 20%, transparent 100%);
}

